.container {
    max-width: 400px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

#datetime-picker {
    min-width: 50px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #808080;
}

button{
    background-color: #4E75FF;
    color: #FFFFFF;
}

button:hover {
    background-color: #6C8CFF;
    color: white;
}


button:disabled {
    background-color: #cfcfcf;
}

.timer {
    max-width: 346px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.field {
    display: flex;
    flex-direction: column-reverse;
}

.value {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    line-height: 1.2;
}

.label {
    text-transform: uppercase;
    font-size: 16px;
}

.resolved-promise {
    font-family: 'Montserrat' !important;
}